/* Main body of pages. */
body {
    background: #BEC3C6;
    margin: 20px 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: rgb(03, 03, 03);
}

/* Headings */
h1, h2, h3, h4, h5, h6  {
    color: rgb(03,03,03);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}

/* Block quotations. */
blockquote {
    margin: 1em;
    padding: 1em 1em .5em 1em;
    width: 90%;
}

/* Footer of every page. */
div.footer {
    clear: both;
    background: url("/img/main_shadow.png") repeat-x scroll center top #FFFFFF;
    padding: 4px 10px 7px 10px;
    border-top: 1px solid #A6A6A6;
    text-align: right;
}

.blue-bg {
   background-color: #20267D;
}

/* Customizations to Bootstrap's default styles */

blockquote p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
/* readability: darken the alert colour for contrast with background */

.alert {
    color: rgb(0, 0, 0);
}
/* Container for page contents. */

.container {
    background-color: white;
}
.hero-unit {
    padding: 20px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.credits img {
    max-height: 100px;
}

@media (max-width: 599px) {
    .header h1 {
        font-size: 20pt;
    }
    #header-text {
        font-size: 16pt;
    }
}
