---
layout: homepage
root: .
address: Rua Sérgio Buarque de Holanda, 800 - Sala CB54 – Cidade Universitária "Zeferino Vaz" – Distr. Barão Geraldo – Campinas – São Paulo – Brasil
country: Brazil
humandate: 27 de Setembro de 2014
humantime: 9:00- 18:00
startdate: 2014-09-27
enddate: 2014-09-27
latlng: -22.817387,-47.06843
registration: open
instructor: ["Raniere Silva", "Abel Siqueira"]
helper: ["Kally Chung", "Ricardo Panaggio", "Melissa Devens", "Wanderson Luiz"]
eventbrite: 12894581039
---

<!--
    This block includes the Eventbrite registration widget if 'eventbrite' has been set in the header.
-->
{% if page.eventbrite %}
<iframe
  src="//www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" height="209px" scrolling="auto"></iframe>
{% endif %}

<h2>Informações Gerais</h2>

<p>
  <strong>Objetivos:</strong>
  <ul>
    <li>Ensinar conceitos básicos de LaTeX para aqueles que nunca utilizaram.</li>
    <li>Abordar o <a href="http://github.com/lpoo/modelo_tese_imecc/">modelo de dissertações e teses do IMECC</a>.</li>
    <li>Ensinar conceitos básicos de controle de versão utilizando Git <strong>e como utilizá-los para melhor aproveitamento do modelo de dissertações e teses</strong>.</li>
    <li>Apresentar o <a href="https://www.writelatex.com/">writeLaTeX</a> <strong>e mostrar como utilizá-lo com o modelo de dissertações e teses</strong>.</li>
  </ul>
</p>

<p>
  <strong>Público alvo:</strong> a alunos da pós-graduação do Instituto de
  Matemática, Estatística e Computação Científica. <strong>Qualquer pessoa
  interessada em um dos objetivos anteriores pode participar do
  workshop.</strong>
</p>

{% if page.latlng %}
<p>
  <strong>Onde:</strong>
  {{ page.address }}.
  Direções podem ser obtidas no
  <a href="//www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  ou
  <a href="//maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<p>
  <strong>Requisitos:</strong>
  <ol>
    <li>Realizar a inscrição no workshop. <strong>As inscrições serão abertas no
        início de Setembro.</strong></li>
    <li>Trazer seu notebook com alguns softwares instalados. <strong>A lista dos
        softwares encontra-se <a href="#configuracao">no fim desse página</a>.</strong></li>
  </ol>
</p>

<p>
  Dúvidas devem ser encaminhadas por email para
  <a href='mailto:{{site.contact}}'>{{site.contact}}</a>.
</p>

<hr/>

<h2>Cronograma</h2>

<p>Notas estarão sendo tomadas em
<a href="https://etherpad.mozilla.org/2014-10-27-unicamp">https://etherpad.mozilla.org/2014-10-27-unicamp</a>.</p>

<table class="table table-striped">
  <tr> <td>09:00</td> <td>Cadastramento e Café da Manhã
      (<strong>incluso</strong>)</td> </tr>
  <tr> <td>09:30</td> <td>Introdução ao LaTeX</td> </tr>
  <tr> <td>11:00</td> <td>Introdução ao Git (para controle de versão)</td> </tr>
  <tr> <td>13:00</td> <td>Intervalo para almoço (<strong>por conta do
        aluno</strong>)</td> </tr>
  <tr> <td>14:30</td> <td>Git para backup e colaboração</td> </tr>
  <tr> <td>16:00</td> <td>Coffee break (<strong>incluso</strong>)</td> </tr>
  <tr> <td>16:30</td> <td>WriteLaTeX</td> </tr>
  <tr> <td>17:30</td> <td>Resumo do Workshop</td> </tr>
  <tr> <td>18:00</td> <td>Happy Hour (<strong>por conta do aluno</strong>)</td> </tr>
</table>

<h3>Sugestões de lugares para almoço</h3>

<ul>
  <li><a href="http://www.yelp.com.br/biz/bardana-campinas">Bardana</a>: Av. Romeu Tórtima, 1500</li>
  <li><a href="http://www.yelp.com.br/biz/bar-e-restaurante-aulus-campinas">Aulus</a>: Av. Professor Atílio Martini, 939</li>
  <li><a href="http://www.yelp.com.br/biz/pepe-loco-campinas">Pepe Loco</a>: Av.  Dr. Romeu Tortima, 1550</li>
  <li><a href="http://www.yelp.com.sg/biz/bagd%C3%A1-caf%C3%A9-campinas">Bagdá</a>: Av. Santa Isabel, 246</li>
  <li>Subway: Av. Albino J. B. de Oliveira, 1556</li>
  <li>Salsinha e Cebolinha: R. Cecília Feres Zogbi, 20-A</li>
  <li>Tempero Manero: Av. Santa Izabel n° 286</li>
  <li>Panetteria Di Capri: R. Maria Tereza Dias da Silva, 530</li>
</ul>

<h4>Sugestões de lugares para almoço vegetariano</h3>

<ul>
  <li><a href="http://www.raizeszen.com.br/barao/inicio">Raízes Zen</a>: Rua Antonio Pierozzi, 94</li>
  <li><a href=http://www.yelp.com.br/biz/l%C3%B3tus-comida-chinesa-natural-campinas">Lótus</a>: R. Benedito Alves Aranha, 153</li>
</ul>

<h3>Sugestão de lugares para happy hour</h3>

<ul>
  <li><a href="http://www.yelp.com.sg/biz/bagd%C3%A1-caf%C3%A9-campinas">Bagdá</a>: Av. Santa Isabel, 246</li>
  <li><a href="http://www.yelp.com.br/biz/bar-e-restaurante-aulus-campinas">Aulus</a>: Av. Professor Atílio Martini, 939</li>
  <li>Panetteria Di Capri: R. Maria Tereza Dias da Silva, 530</li>
</ul>

<hr/>

<h2 id="configuracao">Configuração</h2>

<p>
  Para participar nesse workshop, você vai precisar dos
  seguintes programas instalados. Por favor, tenha certeza de ter instalado
  todos os programas.
</p>

<h3>Windows</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Git Bash</h4>
    <p>
      Baixe e instale
      <a href="http://msysgit.github.io/">Git for Windows</a>.
      Ele irá disponibilizar Git e Bash no seu computador.
    </p>
    <h4>Editor</h4>
    <p>
      <a href="http://notepad-plus-plus.org/">Notepad++</a> é um
      editor livre para Windows. Depois de instalá-lo você precisa adicionar o
      diretório onde ele foi instalado no <em>path</em> do seu sistema para que
      possa invocá-lo pela linha de comando (ou para que outros programas como
      Git invoque-o por você). Por favor requisite ajuda no início do workshop
      se não conseguir fazer isso antes.
    </p>
  </div>
  <div class="span6">
    <h4>LaTeX</h4>
    <p>Instale <a href="https://www.tug.org/texlive/">TeX Live</a>
      ou <a href="http://miktex.org/">MiKTeX</a>.
    </p>
  </div>
</div>

<h3>Mac OS X</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Git</h4>
    <p>
      Baixe e instale <a href="http://git-scm.com/downloads">Git</a>. Para
      versões antigas do Mac OS X (10.5-10.7) você deve utilizar o instalador
      mais recente
      <a href="https://code.google.com/p/git-osx-installer/downloads/list">disponível aqui</a>.
      Utilize o instalador "Leopard" para 10.5 e o instalador "Snow Leopard"
      para 10.6-10.7.
    </p>
    <h4>Editor</h4>
    <p>
      Nos recomendamos
      <a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a> ou
      <a href="http://www.sublimetext.com/">Sublime Text</a>.
      Você também pode utilizar o <code>nano</code> que deveria estar instalado
      por padrão.
    </p>
  </div>
  <div class="span6">
    <h4>LaTeX</h4>
    <p>Instale <a href="https://www.tug.org/texlive/">TeX Live</a>.</p>
  </div>
</div>

<h3>Linux</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Git</h4>
    <p>
      Se Git ainda não encontra-se disponível na sua máquina você pode
      instalá-lo via o gerenciador de pacotes da sua distribuição
      (e.g. <code>apt-get</code> ou <code>yum</code>).
    </p>
    <h4>Editor</h4>
    <p>
      <a href="http://kate-editor.org/">Kate</a> é uma das várias opções para os
      usuários de Linux.
    </p>
  </div>
  <div class="span6">
    <h4>LaTeX</h4>
    <p>Instale <a href="https://www.tug.org/texlive/">TeX Live</a>.</p>
  </div>
</div>
