<div class="row-fluid credits">
  <div class="span3">
    <h4>Realização</h4>
    <a href="{{site.website}}"><img src="img/lpoo-logo.png" alt="LPOO"/></a>
  </div>
  <div class="span3">
    <h4>Apoio</h4>
    <a href="http://ea2.unicamp.br/"><img src="img/ea2-logo.png" alt="EA2"/></a>
  </div>
  <div class="span6">
    <h4>Patrocínio</h4>
      <a href="https://www.writelatex.com/"><img src="img/writeLaTeX-logo.png" alt="writeLaTeX"/></a>
  </div>
</div>

<div class="footer">
  <a class="label blue-bg" href="{{site.website}}">LPOO Website</a>
  <a class="label blue-bg" href="mailto:{{site.contact}}">Email</a>
  <a class="label blue-bg" href="{{site.github_url}}">GitHub</a>
</div>
