---
---
<!DOCTYPE html>
<html>
  <head>
    <title>LPOO - Workshop</title>
    {% include header.html %}
    <meta name="date" content="{{page.humandate}}" />
    <meta name="startdate" content="{{page.startdate}}" />
    <meta name="enddate" content="{{page.enddate}}" />
  </head>
  <body>
    <div class="container">
      <div class="span10 offset1">
        <div class="hero-unit">
          <div class="row-fluid">
            <div class="span10">
              <h1>Workshop de LaTeX</h1>
	    </div>
          </div>
          <div class="row-fluid">
	    <div class="span6">
              <p>{{page.humandate}}</p>
              <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>
	    </div>
	    <div class="span6">
	      <p>
		<strong>Instrutores:</strong>
		{% if page.instructor %}
		{{page.instructor | join: ', ' %}}
		{% else %}
		to be announced.
		{% endif %}
	      </p>
	      {% if page.helper %}
	      <p>
		<strong>Ajudantes:</strong>
		{{page.helper | join: ', ' %}}
	      </p>
	      {% endif %}
	    </div>
          </div>
        </div>
        <img alt="Foto do workshop anterior" src="img/banner-brightness.jpg" />

        {{content}}

        {% include footer.html %}
      </div>
    </div>
    {% include javascript.html %}
  </body>
</html>
