---
---
<!DOCTYPE html>
<html>
  <head>
    <title>LPOO - Workshop</title>
    {% include header.html %}
  </head>
  <body>
    <div class="container">
      <div class="span10 offset1">
        <div class="hero-unit">
          <div class="row-fluid">
            <div class="span10">
              <h1>Workshop de LaTeX</h1>
	    </div>
          </div>
        </div>

        {{content}}

        {% include footer.html %}
      </div>
    </div>
    {% include javascript.html %}
  </body>
</html>
